html {
    font-family: 'Montserrat', sans-serif; 
    font-size: 17px;
}

body {
    background-color: #f1d4bc;
    margin: 0;
}

.barra {
    background-color: #2a262e;
    position: fixed;
    width: 100%;
    color: rgb(126, 114, 99);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.barra li {
    float: right;
    list-style-type: none;
}

.barra li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 14px;
}

.barra li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

#titulo {
    background-color: #aa5730;
    color: white;
    padding: 8rem 7rem 4rem 7rem;
    text-align: center;
    font-size: 2.9rem;
    margin-top: 0;
}

.foto1 {
    text-align: center;
    padding: 5px;
}

.foto1 img {
    cursor: pointer;
    border-radius: 50px 0 110px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
}

.foto2 {
    float: right;
    width: 450px;
    height: 270px;
    margin-right: 50px;
    border-radius: 50px 10px 50px 70px;
    cursor: pointer;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table, th, td{
    padding: 7px;
}

th {
    background-color: #aa5730;
    color: white;
}

td {
    background-color: antiquewhite;
}

footer{
    background-color: #373434;
    padding: 3rem;
    color: white;
}

footer div {
    float: right;
    text-align: center;
}

footer p {
    margin: 0;
    display: inline;
}