body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

#home {
    color: yellow;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}